Repository jfrog/jenkins-artifactory-plugin, pull requests merged in 2023-04, with the labels that each got.

#760 Update build-info and gradle plugin versions
  pom.xml
Labels: dependencies, safe to test

#761 Fix Xray tests
  src/test/java/org/jfrog/hudson/pipeline/integration/CommonITestsPipeline.java
  src/test/resources/integration/pipelines/scripted/xrayScanFailBuildFalse.pipeline
  src/test/resources/integration/pipelines/scripted/xrayScanFailBuildTrue.pipeline
Labels: safe to test

#756 Escape special characters in Vcs properties
  src/main/java/org/jfrog/hudson/util/ExtractorUtils.java
  src/test/java/org/jfrog/hudson/util/EscapePropertyTest.java
Labels: bug, safe to test

#765 Escape non-ascii and more special characters in vcs properties (#737)
  src/main/java/org/jfrog/hudson/util/ExtractorUtils.java
  src/test/java/org/jfrog/hudson/util/EscapePropertyTest.java
Labels: bug, safe to test
